* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(86, 192, 192);
}

li {
    width: 350px;
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


p {
    padding: 10px 20px 20px 20px;
}

h3 {
    padding: 10px 0 0 20px;
}

.list {
    margin: 50px 50px 50px;
    list-style-type: none;
    list-style-position: inside;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: min-content;
    
    grid-auto-flow: dense; 
    align-content: center; 
    justify-content: center;
    align-items: start;
}

.border {
    width: 350px;
    height: 150px;
}

.maket {
    border: 1px solid rgb(222, 226, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 226, 230);
    color: rgba(101, 116, 116, 0.445);
    text-align: center;
}

.another_border {
    width: 350px;
    height: 100px;
}

.b_border {
    width: 350px;
    height: 220px;

}

.the_border {
    width: 350px;
    height: 350px;
}

.bborder {
    width: 350px;
    height: 230px;
    
}